@keyframes promo {
    0% {top: 0;}
    100% {transform:translateY(calc(-100% + 880px));}
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.anim__shift-bottom {
	transform: translateY(200px);
	opacity: 0;
    transition: 1s;

    &.animation_done {
        transform: translateY(0);
	    opacity: 1;
    }
}

.anim__shift-left {
	transform: translateX(-200px);
	opacity: 0;
    transition: 1s;

    &.animation_done {
        transform: translateX(0);
	    opacity: 1;
    }
}

.anim__shift-right {
	transform: translateX(200px);
	opacity: 0;
    transition: 1s;

    &.animation_done {
        transform: translateX(0);
	    opacity: 1;
    }
}

.marketplaces__grid-item {
    opacity: 0;

    &:nth-child(3n + 1) {
        transition: 1.4s;
    }
    &:nth-child(3n + 2) {
        transition: 2.2s;
    }
    &:nth-child(3n + 3) {
        transition: 2.8s;
    }

    &:nth-child(1) {
        transform: translate(-200px,-100px);
    }
    &:nth-child(2) {
        transform: translate(-300px,-200px);
    }
    &:nth-child(3) {
        transform: translate(0px,-300px);
    }
    &:nth-child(4) {
        transform: translate(200px,-100px);
    }
    &:nth-child(5) {
        transform: translate(-100px,-300px);
    }
    &:nth-child(6) {
        transform: translate(-150px,-100px);
    }
    &:nth-child(7) {
        transform: translate(200px,-100px);
    }
    &:nth-child(8) {
        transform: translate(300px,-50px);
    }
    &:nth-child(9) {
        transform: translate(-200px,0px);
    }
    &:nth-child(10) {
        transform: translate(-150px,-50px);
    }
    &:nth-child(11) {
        transform: translate(200px,300px);
    }
    &:nth-child(12) {
        transform: translate(300px,250px);
    }
    &:nth-child(13) {
        transform: translate(-200px,300px);
    }
    &:nth-child(14) {
        transform: translate(-150px,150px);
    }

    .grid-animation_done & {
        transform: translate(0,0);
        opacity: 1;
    }
}

@keyframes shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    55% {
        transform: rotate(-5deg);
    }

    85% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

