*,
*::before,
*::after {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding-inline-start: 0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}