.header {
    height: 100px;
    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__logo {
        display: block;
        width: 207px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__navigation {
        ul {
            display: flex;
            align-items: center;
            gap: 24px;

            li {

                transition: 0.5s all;

                a {
                    font-weight: 600;
                    font-size: 18px;
                    color: #fff;

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 4px;
                        text-decoration-skip-ink: none;
                        color: #fff;
                    }
                }
            }


        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__number {
        font-weight: 500;
        font-size: 22px;
        background: linear-gradient(90.00deg, rgb(235, 132, 0),rgba(235, 202, 0, 0.38));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.5s all;

        &:hover {
            background: rgba(255, 255, 255, 0.4) linear-gradient(90.00deg, rgb(235, 132, 0, 0.6),rgba(235, 202, 0, 0.38));;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__wa {
        height: 32px;
        width: 32px;

        svg {
            fill: #E3E3E3;
            height: 32px;
            width: 32px;

            use {
                transition: 0.5s all;
            }

            &:hover * {
                fill: rgb(235, 202, 0);;
            }
        }
    }
}

.hamburger {
    height: 64px;
    background-color: #000;
    display: none;
    padding: 10px 12px;

    &>a {
        display: flex;
    }

    &__logo {
        img {
            width: 150px;
        }
    }

    &__icon {
        position: absolute;
        top: 75px;
        right: 16px;
        height: 40px;
        width: 40px;
        padding: 10px 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: flex-end;
        cursor: pointer;
        z-index: 71;
        opacity: 1;
        transition: 1s;

        span {
            height: 2px;
            width: 100%;
            background: #fff;
            transition: .4s;
        }

        &-active {
            transform: none;

            span {
                margin-bottom: -4px;
            }

            span:nth-child(1) {
                transform: rotate(-45deg);
                position: relative;
                top: 11px;
            }

            span:nth-child(2) {
                display: none;
            }

            span:nth-child(3) {
                transform: rotate(45deg);
                position: relative;
                top: -11px;
            }
        }
    }
}

@media (max-width: 1200px) {

    .header {

        &__logo {
            width: 150px;
            display: flex;
            align-items: center;
        }

        &__navigation {
            ul {
                gap: 12px;

                li {
                    a {
                        font-size: 16px;
                    }
                }

            }
        }
    }
}

@media(max-width: 992px) {
    .header {
        padding: 100px 16px 16px 16px;
        position: fixed;
        background-color: #000;
        width: 100%;
        height: 100vh;
        z-index: 70;
        left: -100%;
        transition: all 0.6s;
        align-items: flex-start;

        &__active {
            left: 0;
        }

        &__wrapper {
            margin: 0 auto;
            width: 208px;
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        &__logo {
            width: 150px;
        }
    }

    .menu {
        padding: 10px 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        &__link {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .hamburger {
        display: flex;
        align-items: center;
        height: 64px;
        padding: 10px 12px;
    }

    .header__wa {
        display: none;
    }
}