@import './base/normalize';
@import './base/animation';

html {
    font-size: 16px;
}

body {
    background: #121110;
    overflow-x: hidden;
}

.container {
    width: 1152px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(214, 214, 214, 0.2);
}
::-webkit-scrollbar-thumb {
    background-color: #ebca00;
    border-radius: 20px;
    border: transparent;
}

@media (max-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}

@import './blocks/modals';
@import './blocks/info';
@import './blocks/header';
@import './blocks/promo';
@import './blocks/delivery';
@import './blocks/marketplaces';
@import './blocks/why';
@import './blocks/buyer';
@import './blocks/faq';
@import './blocks/footer';

